@mixin btn {
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
  color: black;
  margin: 0 auto;
  border: 1px solid #ccc;
  background: #ccc;
  box-shadow: 0 6px 10px rgba(#ccc, 0.4);
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 12px rgba(#ccc, 0.6);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0 5px 8px rgba(#ccc, 0.4);
  }
}

.drop-zone {
  height: 30vh;
  width: 35vw;
  min-height: 40rem;
  min-width: 60rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  justify-content: center;
  background: #efefef;
  box-shadow: 15px 15px 22px #bfbfbf, -15px -15px 22px #ffffff;
  border: 1px solid #efefef;
  overflow: hidden;
  &__input {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__text {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  &__label {
    @include btn;
  }
}

.result {
  &__container {
    width: 100%;
    height: 100%;
    padding: 4rem;
    overflow: scroll;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__warehouse {
    margin-bottom: 2rem;
    list-style: none;
  }

  &__heading {
    margin-bottom: 0.5rem;
  }

  &__item {
    padding-left: 1rem;
  }
  &__btn-back {
    @include btn;
  }
}
