<div class="drop-zone" appDragAndDrop (fileLoaded)="handleFileInput($event)">
  <ng-container *ngIf="isDataFinished$ | async; else elseTemplate">
    <div class="result__container">
      <ul class="result__warehouse" *ngFor="let outData of outputData">
        <h3 class="result__heading">
          {{ outData.warehouseName }} (total {{ outData.totalAmount }})
        </h3>
        <li class="result__item" *ngFor="let material of outData.materials">
          {{ material.materialId }}: {{ material.materialAmount }}
        </li>
      </ul>
      <div class="result__btn-back" (click)="reset()">Back</div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <input
      #DropZoneInput
      id="DropZoneInput"
      type="file"
      class="drop-zone__input"
      [multiple]="false"
      (change)="handleFileInput($event.target.files)"
    />
    <h2 class="drop-zone__heading">Drop File Here</h2>
    <span class="drop-zone__text">or</span>
    <label for="DropZoneInput" class="drop-zone__label">Input from disk</label>
  </ng-template>
</div>
